*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
src/CommandAPI/appsettings.jon
src/CommandAPI/appsettings.Development.json
#VS Code
.VS Code

#User-specified files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64
x86
build/
bld
[Bb]in
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

#VS
.vs/

#Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so



